@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.search-main {
    background-image: url("/backgroundImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hello {
    width: 500px;
}

.bsbriefcase {
    color: #b9bdcf;
}
